@font-face {
    font-family: 'GR';
    src: url(../fonts/gothic/GothicA1-Regular.ttf) format(Truetype);
}
@font-face {
    font-family: 'GB';
    src: url(../fonts/gothic/GothicA1-Bold.ttf) format(Truetype);
}
    