.footer{
    background: #1B1B1B;
}
.footer__updet{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 463px;
}
.footer__updet-h{
    font-family: var(--GR);
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
    color: var(--white);
    margin-bottom: 20px;
}   
.footer__updet-p{
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #6B6B6B;
    margin-bottom: 40px;
}
.footer__updet-input{
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #1C1C1C;
    width: 311px;
    outline: none;
    border: none;
    padding: 22px 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px #FC0A7E;
    border-radius: 3px 0px 0px 3px;
}
.footer__updet-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 70px;
    border: none;
    outline: none;
    background: #FC0A7E;
    border-radius: 0px 3px 3px 0px;
    font-family: var(--GR);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}
form{
    display: flex;

}
.footer__wrap{
    padding: 20px 0 70px;
}
.footer__wrap-block{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__wrap-logo{
    margin-bottom: 30px;
}
.footer__wrap-menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer__wrap-menu-item-link{
    font-family: var(--GR);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #6B6B6B;
    transition: 0.3s;
}
.footer__wrap-menu-item-link:hover{
    color: var(--white);
}